[gcode_macro PURGE]
gcode:
    M83
    G1 E50.0 F250
    G90
    M400

[gcode_macro LOAD_FILAMENT]
gcode:
        M117 Loading Filament...
        M83
        G1 E60 F1000
        G1 E100 F250
        G92 E0.0
        M400
        M117 Load Complete

[gcode_macro LOAD_FILAMENT_SLOW]
gcode:
        M117 Loading Filament...
        M83
	# Break up to avoid extrude-too-long and timeouts due to how long it takes to extrude
        G1 E50 F250
        G1 E50 F250
        G1 E30 F100
        G1 E30 F100
        G92 E0.0
        M400
        M117 Load Complete

                       
[gcode_macro UNLOAD_FILAMENT]
gcode:
        M117 Unloading Filament...
        M83
        G1 E0.5 F1000
        G1 E-0.5 F1000
        G1 E1.0 F1000
        G1 E-1.0 F1000
        G1 E1.5 F1000
        G1 E-1.5 F1000
        G1 E2.0 F1000
        G1 E-120 F1000
        M117 Remove Filament Now!
        M400

[gcode_macro G29]
gcode:
    BED_MESH_PROFILE LOAD=richie

[gcode_macro M600]
gcode:
    PAUSE

[gcode_macro BED_MESH_COOL]
gcode:
    
    {% if printer.homed_axes != 'XYZ' %}
        g28
    {% endif %}
    Z_TILT_ADJUST
    G4 S60
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=richie
    SAVE_CONFIG

[gcode_macro BED_MESH_HOT]
gcode:
    M140 S70
    M190 S70
    COMMIT_BED_MESH

[gcode_macro Z_Adjust]
description: start process because I'm forgetful 
gcode:
    G28
    probe_calibrate

[gcode_macro PIDtune_HOTEND]
gcode:
	{% set TEMP = params.TEMP|default(200)|float %}
	PID_CALIBRATE HEATER=extruder TARGET={TEMP}

[gcode_macro PIDtune_BED]
gcode:
    {% set TEMP = params.TEMP|default(60)|float %}
    PID_CALIBRATE HEATER=heater_bed TARGET={TEMP}

# Park top rear left
[gcode_macro PARKREAR]
gcode:
    CG28                             ; home if not already homed
    SAVE_GCODE_STATE NAME=PARKREAR
    G90                              ; absolute positioning
    G0 X{printer.toolhead.axis_minimum.x+10} Y{printer.toolhead.axis_maximum.y-10} Z{printer.toolhead.axis_maximum.z-50} F6000     
    RESTORE_GCODE_STATE NAME=PARKREAR
    
[gcode_macro DUMP_PARAMETERS]
gcode:
   {% for name1 in printer %}
      {% for name2 in printer[name1] %}
         { action_respond_info("printer['%s'].%s = %s" % (name1, name2, printer[name1][name2])) }
      {% else %}
         { action_respond_info("printer['%s'] = %s" % (name1, printer[name1])) }
      {% endfor %}
   {% endfor %}

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash /home/pi/klipper-backup/script.sh
timeout: 90.0
verbose: True


######################################################################
# Motor Off
######################################################################

[gcode_macro Motor_aus]
gcode:
  M18


######################################################################
# Wartungsposition 
######################################################################
[gcode_macro Wartungsposition]
gcode:
    G28
    # Absolute mode on
    G90
    # Wartungskoordinate
    G1 X110 Y120 Z105 F1000
    # Relative Mode on
    G91
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Disable steppers
    # M84
